/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
}
.container{
    border: 1px solid rgba(0, 0, 0, 0.041);
    width: 70%;
    margin: auto;

}
header{
    background-color:rgb(7,21,76) ;
    text-align: center;
    height: 50px;
}

.links{
    padding-top: 15px;
}
a{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.image-1, .image-2{
    width: 400px;
}
.first{
    
    width: 90%;
    margin: auto;
    display: flex;
    margin: 25px;
    margin-left: 35px;
}
.heading-1{
    margin-left: 40px;
    font-size: 19px;
    font-weight: bold;
    color:rgb(7,21,76);
    line-height: 28px;
}
.para-1{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 530;
    margin-left: 40px;
    line-height: 20px;
    margin-top: 20px;
}
.btn-1{
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    margin-left: 40px;
    background-color: rgb(95,188,61);
    margin-top: 20px;
    outline: none;
    border: none;
}
.second{
    
    width: 90%;
    height: 450px;
    margin: 25px;
    margin-left: 35px;
    display: flex;
    
}
.para-2{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 530;
    /* margin-left: 40px; */
    line-height: 20px;
    /* margin-top: 20px; */
}
.heading-2{
    /* margin-left: 40px; */
    font-size: 19px;
    font-weight: bold;
    color:rgb(7,21,76);
    line-height: 28px;
}
.second-two{
    margin-left: 40px;
}
.learn-more{
    font-size: 18px;
    color: rgb(95,188,62);
    /* margin-top: 30px; */
    border-bottom: 2px solid rgb(95,188,62);
}
.link{
    margin-top: 20px;
    margin-left: 0;
}